<section class="ez-view-rawcontentview">
    <div class="ez-raw-content-title d-flex justify-content-between mb-3">
        <h2>Comments</h2>
    </div>
    <section class="ez-fieldgroup container">
        {{ ez_comments_render_content( content.contentInfo ) }}
    </section>
</section>
